<!-- /views/index.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Bienvenido al <%= title %></h2>
    <p>Para ver el conteniido de tu XML, haz click <a href="/xml">aquí</a></p>
    <p>o simplemente accede a la URL http://localhost:3000/xml?url=URL_DEL_XML</p>
  </body>
</html>
